# FLASK
FLASK_APP=app:create_app
FLASK_DEBUG=1

# DATABASE
DATABASE_USER=doadmin
DATABASE_PASSWORD=AVNS_OFh0HaRoHS6-N98A5jP
DATABASE_HOST=jeha-postgresql-do-user-7474097-0.c.db.ondigitalocean.com
DATABASE_PORT=25060
DATABASE_DB_NAME=kanbun-db-dev
