# APP
APP_ENV=dev

# FLASK
FLASK_APP=src/app.py
FLASK_DEBUG=1

# DATABASE
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_DB_NAME=

# AUTH
AUTH_SECRET_KEY=

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=kanbun
SMTP_USE_TLS=true
SMTP_USE_SSL=false
